.footer{
	text-align: center;
}

.footer p{
	width: 400px;
	height: 30px;
	padding-top: 6px;
	margin: 0;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 5px;
}

.footer>p{
	background-color: #e64b89;
	color: white;
}

.footer p + div{
	color: #3a8bbb;
}