header.header
  .container
    .row.row--3
      .col
        form.header__form
              label(class="visually-hidden" for="search")  search
              input(type="text" id="search" name="search" placeholder="Search")
        nav.header__list
            ul.header__list
              li: a(href='#') Dribbles
              li: a(href='#') Buckets
              li: a(href='#') Users
              li: a(href='#') Lists
      .header__sign.col-2
          p: a(href='#') Signup
          p: a(href='#') Signin
