section.container
	h1 Dribbles
	-const n=["images/cardimage/recy.png","images/cardimage/recv.png","images/cardimage/recx.png","images/cardimage/recz.png","images/cardimage/rec.jpg"]
	-const z=["The bear as we see likes honey","This is maps of some road","2 deers just before they were hunted","A smiling card","the robot friend i forgot about"]
	.row.row--4
		- for (var j = 0; j < 4; j++) {
			- for (var i = 0; i < 5; i++) {
			.asp.col
				.card
					.card__hover
						img(src= n[i] class="card__media")
						p= z[i]
					ul.card__list
						li
							p.comment: a(href='#')
							a(href='#' class="visually-hidden") Comment
							span.icon: a(href='#') 23
							p.visually-hidden times
						li
							p.seen: a(href='#')
							a(href='#' class="visually-hidden") seen
							span.icon: a(href='#') 4,234
							p.visually-hidden times
						li
							p.love: a(href='#')
							a(href='#' class="visually-hidden") love
							span.icon: a(href='#') 3
							p.visually-hidden times
				p: a(href='#').card__author_avatar
					span: a(href='popup.html').card__author_name someone
			- }
		- }