section.pop__container
	header.pop
		- var span = "<span>Eddie Lobanivsjky </span>"
		.row.row--3
			.pop__design.col
				img(src="images/cardimage/recz.png" class="pop__avatar")
				h1.pop__title Pay Junction - Paper Receipts
				p.pop__author by !{span} on
					time August 20,2018
			.pop__bottons.col-2
				button.save(type="save") Save
				button.like(type="like") Like
	.pop__media
		img(src="images/cardimage/deer.png")
	section.responce
		.row.row--3
			section.col.responces__author
				p Hey guys, here’s a sneak peak of my  work in progress I was happy everyone got to see my last work and commented so much.I’ll be sure to keep you updated
				h1 Responces
				- for (var i = 0; i < 4; i++){
				.responce__comment
					.responce__comment_author
						img(src="images/cardimage/recz.png")
					.responce__comment_text
						p.design__comment_name username
						.responce__comment_openion
							p I like what you did With This place, I like what you did With This place, I’m not sure what to Do about that part what Do you think?
						.responce__comment_info
							time August 20,2018
						.responce__comment_interaction
							p.love: a(href='#')
							a(href='#' class="visually-hidden") love
							span.icon: a(href='#') 3
							p.visually-hidden times
				- }
section
	p sjjksakdkadsjfkjfkskfdskdnfkjnsdfkjskjdfkjsbdfkjsdjflksjfdlkjsdkfnkjvkjsdnvkjsdkjv sd kjsnd sdjnlsdnv sksjd kdskjsdvlksdkjsdnvksndvknskdnvlsndlvn slkdvlksndvlksnd lk skd ksdnlksnd ld slv lsn dv sdlks dnkndslnflknsdlf sld ldsknlsdk nlksdfnl ds lds fl nfdslkl nfdskfdsl nsd dsln lkdsnvkjsd lvlkds

